extends layout
block content
  p Nodebots Seattle is a meetup for hardware and JavaScript enthusiasts and hackers of all skill levels.
  p
    | We are planning occasional workshops where you can get advice, show off what you're working on, help others,
    | and play with the latest and greatest hardware. Nodebots are by name robots powered by NodeJS and Javascript
    | but often includes software in all languages. They're a great way to learn JavaScript and Hardware concepts.
    | You can find out more at &nbsp;
    a(href="http://nodebots.io" target="_blank") Nodebots.io
  p
    a(href="http://johnny-five.io" target="_blank") Johnny-Five
    |  is a great place to get started if you want to get familiar before an event.
  p
    | Watch this space or&nbsp;
    a(href="https://twitter.com/nodebotssea") https://twitter.com/nodebotssea
    |  for the next event.
