extends layout
block content
  p Nodebots Seattle is a meetup for hardware and JavaScript enthusiasts and hackers of all skill levels.
  p
    | We are planning occasional workshops where you can get advice, show off what you're working on, help others,
    | and play with the latest and greatest hardware. Nodebots are by name robots powered by NodeJS and Javascript
    | but often includes software in all languages. They're a great way to learn JavaScript and Hardware concepts.
    | You can find out more at 
    a(href="http://nodebots.io" target="_blank") Nodebots.io
  p
    a(href="http://johnny-five.io" target="_blank") Johnny-Five
    |  is a great place to get started if you want to get familiar before an event.
  p
    | Watch this space or 
    a(href="https://twitter.com/nodebotssea") https://twitter.com/nodebotssea
    |  for the next event.
  section#event
    h2 Next event:
    h3 Tuesday, March 8th, 2016 - 6:30pm to 8:30pm
      em  Nodebots Office Hours
    p Do you need a little help getting up and running with Nodebots? Bring your own hardware and we'll help you get set up! There will be no presentations; just some folks hanging out to help you get unblocked.
